

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');


body {
    font-size: 15pt;
}
:root{
    --primercolor: #ed1c24;
    --segundocolor: #fff;
    
    --coloropcionalydeletras: #003366;
    --colorletras2: #fff 
    --letra: 'Oswald', sans-serif;
    
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.seccion-azul {
  background-color: #002D72;
    padding: 30px 0 50px; 
    display: flex;
    justify-content: center;
}

header .escudo-esquina {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: auto;
    z-index: 1001;
}

.grupo-estrellas {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra las filas formando la pirámide */
  gap: 2px; /* Espacio entre filas */
}

.fila {
  color: white;
    font-size: 2.5rem; /* Tamaño corregido para que no desborde */
    letter-spacing: 5px;
    line-height: 1.2;
}

.seccion-rayas {
background: repeating-linear-gradient(90deg, var(--primercolor) 0 11.1%, var(--segundocolor) 0 22.2%);
  height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
}

.contenedor-titulo {
    background: white;
  border: 4px solid #002D72;
  padding: 8px 25px;
  position: absolute;
  top: -25px; /* Sube para quedar entre lo azul y lo rojo */
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

h1 {
    margin: 0;
    /* Usando la segunda fuente que pediste (Playwrite) */
    font-family: 'Noto-Sans', sans-serif;
    font-size: 4rem; /* ¡Más grande como querías! */
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

body{
    background-color: var(--coloropcionalydeletras);
   font: var(--letra);
}


.firma {
    font-family: 'Playwrite NZ Basic', cursive;
    color: #fff;
    text-align: center;
    font-weight: 100; /* Puedes variar entre 100 y 400 */
    font-size: 3.5rem;
}


